:root {
    --shadow: #0a0b10;
    /* Color palette: Arctic (https://www.color-hex.com/color-palette/50396) */
    --primary: #010c30;
    --primary-200: #333c59;
    --secondary: #bac3e0;
    --accent-1: #d1e1ff;
    --accent-2: #98d4ff;
    --accent-3: #27a8f7;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

.help {
    position: fixed;
    margin: 0px;
    top: 30px;
    left: 30px;
    padding: 25px;
}

.help h1 {
    margin: 0px;
}

.loading-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.loading-screen div {
    margin: 0px;
    height: 48px;
    width: 48px;
    position: absolute;
    top: calc(50% - 24px);
    border-radius: 50%;
    border: 5px solid;
    border-top-color: transparent;
    color: val(--primary);
    animation: rotate 1s linear infinite;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 var(--shadow);
    color: var(--secondary);
    background: linear-gradient(45deg, var(--primary), var(--primary-200));
}

.app {
    position: fixed;
    top: 0px;
    left: 0px;
}

.arrangement {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    width: calc(100% - 600px);
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    line-height: 80px;
    position: fixed;
    bottom: 100px;
}


/* ===== Animations ===== */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* ===== Transitions ===== */

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.fade-exit-done {
    opacity: 0;
}